Flask
flask[async]
pandas
arrow
azure-storage-blob
flask_login
authlib
flask-paginate
jsonpickle
azure-cosmosdb-table
dash
azure-keyvault-secrets
azure-identity
yfinance
nsepython
nsepy
jmespath
fiscalyear
jugaad-trader
gunicorn[gthread]
memoization
optionlab
numpy
