Flask
pandas
arrow
azure-storage-blob
flask_login
authlib
flask-paginate
jsonpickle
azure-cosmosdb-table
dash
azure-keyvault-secrets
azure-identity
yfinance
nsepython
nsepy
filecache
jmespath
fiscalyear
