{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h5>
        {%if not not journalentry.is_idea%}
            <i class="bi-lightbulb text-warning"></i>
        {%else%}
            {%if journalentry.is_open()%}
                <i class="bi-play-circle"></i>
            {%else%}
                {%if journalentry.is_profitable()%}
                    <i class="bi-arrow-up-circle text-success"></i>
                {%else%}
                    <i class="bi-arrow-down-circle text-danger"></i>
                {%endif%}
            {%endif%}
        {%endif%}
        {{journalentry.symbol}} 
    </h5>
    <h6>
        <span class="text-muted panel-text">
            <i>{{ journalentry.direction.lower()}},&nbsp;{{ journalentry.strategy.lower()}},&nbsp;{{ journalentry.timeframe.lower()}}</i>
        </span>
    </h6>
    <link rel="stylesheet" type="text/css" href="/static/content/chart.css">
    <div class="text-center" id="main">
        <div id="chart"></div>
    </div>
    <div class="d-print-none text-center mb-1" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary btn-success" onclick="g_chartInstance.RenderPreviousChart();">
                <i class="bi-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-success" onclick="g_chartInstance.RenderNextChart();">
                <i class="bi-chevron-right"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-warning" onclick="g_chartInstance.ToggleIndicator();" hidden>
                <i class="bi-bar-chart-line"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-warning" id="charttypeObtn">O</button>
            <button type="button" id="charttypeLbtn" class="btn btn-secondary btn-success">L</button>
            <button type="button" id="charttypeMbtn" class="btn btn-secondary btn-success">M</button>
            <button id="chartcapturebutton" type="submit" class="btn btn-success">
                <i class="bi-camera"></i>
            </button>
            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a class="dropdown-item" href="/journalentry/{{journalentry.key}}/edit">Edit</a>
                    <a class="dropdown-item" href="/journalentry/{{journalentry.key}}/duplicate">Duplicate</a>
                    <a class="dropdown-item" onclick="navigateToTradingview()"><i class="bi bi-box-arrow-up-right"></i> &nbsp;Tradingview</a>
                    <a class="dropdown-item" href="/journalentry/monthlyreview/{{journalentry.entry_time.year}}/{{journalentry.entry_time.month}}/1">Monthly Review</a>
                    <a class="dropdown-item" href="javascript:g_chartInstance.DeleteCurrentChart();"> Delete Chart</a>
                    <a class="dropdown-item" href="/journalentry/{{journalentry.key}}/delete">Delete Entry</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="reviewbuttons">
        <button type="button" class="btn btn-secondary btn-success float-left" id = "nexttradebtn">
            <i class="bi-chevron-left"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-success float-right" id="prevtradebtn">
            <i class="bi-chevron-right"></i>
        </button>
    </div>
    <table class="table">
        <tr>
            <td>Instrument</td>
            <td>{{journalentry.tradingsymbol}}</td>
        </tr>
        <tr>
            <td>Entry Time</td>
            <td>{{journalentry.entry_time|formatdatetimedisplay}}</td>
        </tr>
        <tr>
            <td>Exit Time</td>
            <td>{{journalentry.exit_time | formatdatetimedisplay if not zero_exit else ''}}</td>
        </tr>
        <tr>
            <td>Entry Price</td>
            <td>{{journalentry.entry_price}}</td>
        </tr>
        <tr>
            <td>Exit Price</td>
            <td>{{journalentry.exit_price}}</td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>{{journalentry.quantity}}</td>
        </tr>
        <tr>
            <td>Rating</td>
            <td>{{journalentry.rating}}</td>
        </tr>
    </table>
    {% include "comments.inc" %}
</div>
    <script type="text/javascript" src="/static/scripts/d3.v4.min.js"></script>
    <script type="text/javascript" src="/static/scripts/techan.min.js"></script>
    <script type="text/javascript" src="/static/scripts/tradejournalchart.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
            function navigateToTradingview(){
                window.open("https://www.tradingview.com/chart?symbol={{journalentry.symbol}}");
            }
            
            $( document ).ready(function() {
                $("#chartcapturebutton").click(function(event){        
                    $.post("/journalentry/{{journalentry.key}}/charts", {}, function(data) {
                        window.location.reload();
                    });
                    });   
                function switchChartType(event){
                    var charttypes = {'O':"original", 'M':"mother", 'L':"latest_{{journalentry.symbol}}"};
                    g_chartInstance.RenderCurrentChartResampleTF(charttypes[$(this).text()]);
                }
                $("#charttypeObtn").click(switchChartType);
                $("#charttypeLbtn").click(switchChartType);
                $("#charttypeMbtn").click(switchChartType);
            });

            window.onbeforeunload = function() {
                if($("#commenttitlebox").val() || $("#commentbox").val()) {
                    return "If you leave this page you will lose your unsaved changes";
                }
                else {
                    return null;
                }
            }
        </script>
        <script type="text/javascript">
            if(window.location.href.includes("monthlyreview")) {
                $("#reviewbuttons").show();
            }
            else {
                $("#reviewbuttons").hide();
            }
            function incdecUrlHelper(url, addendum) {
                var components = url.split('/');
                var serial = parseInt(components[components.length-1])+addendum;
                if (serial < 1)
                    serial = 1;
                url = components.splice(0, components.length-1).join('/')+'/'+serial;
                return url;
            }
            function incUrl(url) { return incdecUrlHelper(url, 1); }
            function decUrl(url) { return incdecUrlHelper(url, -1); }

            $("#nexttradebtn").click(function(event){        
                    window.location.href = decUrl(window.location.href);
                });
            $("#prevtradebtn").click(function(event){        
                    window.location.href = incUrl(window.location.href);
                });
        </script>

        <script type="text/javascript">
            var parseDate = d3.timeParse("%Y-%m-%d %H:%M:%S");
            var charts = JSON.parse('{{ charts | safe}}');
            {%if trades|length != 0%}
                const trades = [
                {%for trade in trades%}
                {
                    date: parseDate("{{ trade.date|formatdatetimed3 }}"),
                    type: "{{ trade.type }}",
                    price: {{ trade.price }},
                    quantity: {{ trade.quantity }} 
                },
                {%endfor%}
            ];
            {%elif journalentry and not not journalentry.entry_price %}
                const tradearrowoffsetperc = 0.02;
                const tradearrowoffsetentry = 1 + {{ -1 if journalentry.direction == 'LONG' else 1}}* tradearrowoffsetperc;
                const tradearrowoffsetexit = 1 + {{ 1 if journalentry.direction == 'LONG' else -1}}* tradearrowoffsetperc;
                const trades = [
                {
                    date: parseDate("{{ journalentry.entry_time|formatdatetimed3 }}"),
                    type: "{{ 'buy' if journalentry.direction == 'LONG' else 'sell'}}",
                    price: {{ journalentry.entry_price }}* tradearrowoffsetentry,
                    quantity: {{ journalentry.quantity }} 
                }
            {% if not not journalentry.exit_price %}
                , {
                    date: parseDate("{{ journalentry.exit_time|formatdatetimed3 }}"),
                    type: "{{ 'sell' if journalentry.direction == 'LONG' else 'buy'}}",
                    price: {{ journalentry.exit_price }}* tradearrowoffsetexit,
                    quantity: {{ journalentry.quantity }}
                }
            {%endif%}
        ];
            {%else%}
                const trades = [];
            {% endif %}
            var secondaryIndicator = "{{ indicator }}";
            var primaryIndicator = "{{overlay_indicator if not not overlay_indicator else 'ichimoku'}}";

            var g_chartInstance = new TJChart("{{journalentry.key}}", "{{journalentry.symbol}}", charts, 
                trades, "{{journalentry.timeframe}}", primaryIndicator, secondaryIndicator);
            if (charts.length > 0) {
                g_chartInstance.RenderChart();
            }
            else {
                document.getElementById('main').hidden = true;
            }
        </script>
{% endblock %}
