{% extends "layout.html" %}

{% block content %}

<h3>Comments ({{journalentry.symbol}})</h3>
<br />
{% if comments %}
<table class="table table-hover">
    {% for comment in comments %}
    <tr>
        <th> {{ comment.add_time.strftime("%d/%m/%y %H:%M") }} </th>
        <td>
            {%if comment.title %}
            <b>{{ comment.title }}</b><br />
            {% endif %}
            {{ comment.text }}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No comments available.</p>
<br />
{% endif %}
<form action="" method="post" role="form" class="NewCommentForm">
    <div class="form-group">
        <div class="input text">
            <label for="title">Title:</label> 
            <input class="form-control" id="title" name="title" type="text" value="">
        </div>
        <div class="input text">
            <label for="text">Text:</label> 
            <textarea  class="form-control" id="text" name="text" required></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Post Comment</button>
</form>

{% if error_message %}
<p class="text-danger">{{error_message}}</p>
{% endif %}

{% endblock %}
