{% extends "layout.html" %}

{% block content %}
<title>{{page_title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h4>{{subtitle}}</h4>
    {% if journalentry.key %}
    <div class="text-center">
        <div class="btn-group" role="group" aria-label="First group">
            <a class="btn btn-secondary btn-success" href="/journalentry/{{journalentry.key}}/comments">Comments</a>
            <a class="btn btn-secondary btn-success" href="/journalentry/{{journalentry.key}}/charts">Charts</a>
            <a class="btn btn-secondary btn-success" href="/journalentry/{{journalentry.key}}/trades">Trades</a>
        </div>
    </div>
    {% endif %}
    <form class="form-horizontal" id="details-form" action="" method="post" role="form">
        <div class="form-group">
            <label class="control-label" for="symbol">Symbol:</label>
            <input class="form-control" id="symbol" name="symbol" required type="text" value="{{journalentry.symbol}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="direction">Direction:</label>
            <select class="form-control" id="direction" name="direction">
                <option value="LONG" {{"selected" if journalentry.direction == "LONG"}}>Long</option>
                <option value="SHORT" {{"selected" if journalentry.direction == "SHORT"}}>Short</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="entry_time">Entry Time:</label>
            <input class="form-control" id="entry_time" name="entry_time" required type="datetime-local" value="{{journalentry.entry_time|formatdatetimeinput}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="entry_price">Entry Price:</label>
            <input class="form-control" id="entry_price" name="entry_price" type="text" value="{{journalentry.entry_price}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="quantity">Quantity:</label>
            <input class="form-control" id="quantity" name="quantity" type="text" value="{{journalentry.quantity}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="timeframe">Timeframe:</label>
            <select class="form-control" id="timeframe" name="timeframe">
                <option value="2h" {{"selected" if journalentry.timeframe == "2h"}}>Intraday</option>
                <option value="1d" {{"selected" if journalentry.timeframe == "1d"}}>Daily</option>
                <option value="1wk" {{"selected" if journalentry.timeframe == "1wk"}}>Weekly</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="strategy">Strategy:</label>
            <input class="form-control" id="strategy" name="strategy" type="text" value="{{journalentry.strategy}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="exit_time">Exit Time:</label>
            <input class="form-control" id="exit_time" name="exit_time" type="datetime-local" value="{{journalentry.exit_time | formatdatetimeinput}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="exit_price">Exit Price:</label>
            <input class="form-control" id="exit_price" name="exit_price" type="text" value="{{journalentry.exit_price}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="entry_sl">Entry SL:</label>
            <input class="form-control" id="entry_sl" name="entry_sl" type="text" value="{{journalentry.entry_sl}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="entry_target">Entry Target:</label>
            <input class="form-control" id="entry_target" name="entry_target" type="text" value="{{journalentry.entry_target}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="rating">Rating:</label>
            <input class="form-control" id="rating" name="rating" type="text" value="{{journalentry.rating}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="tradingsymbol">Instrument:</label>
            <input class="form-control" id="tradingsymbol" name="tradingsymbol" type="text" value="{{journalentry.tradingsymbol}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="is_idea">Is Idea:</label>
            <select class="form-control" id="is_idea" name="is_idea">
                <option value="Y" {{"selected" if journalentry.isidea()}}>Yes</option>
                <option value="" {{"selected" if not journalentry.isidea()}}>No</option>
            </select>
        </div>
    </form>
    <div class="btn-group" role="group" aria-label="Second group">
        <button type="submit" form="details-form" class="btn btn-success">Save</button>
        {% if journalentry.key %}
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &zwnj;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="/journalentry/{{journalentry.key}}/duplicate">
                    Duplicate
                </a>
                <a class="dropdown-item" href="/journalentry/{{journalentry.key}}/delete">
                    Delete
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
