{% extends "layout.html" %}

{% block content %}
<title>Create New</title>
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h4>Create New Journal Entry</h4>
    <form class="form-horizontal" action="" method="post" role="form" class="NewJournalEntryForm">
        <div class="form-group">
            <label class="control-label col-sm-2" for="symbol">Symbol:</label>
            <input class="form-control col-sm-10" id="symbol" name="symbol" required type="text" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="direction">Direction:</label>
            <input class="form-control col-sm-10" id="direction" name="direction" required type="text" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="entry_time">Entry Time:</label>
            <input class="form-control col-sm-10" id="entry_time" name="entry_time" required type="datetime-local" value="{{nowTime|formatdatetimeinput}}">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="exit_time">Exit Time:</label>
            <input class="form-control col-sm-10" id="exit_time" name="exit_time" type="datetime-local" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="entry_price">Entry Price:</label>
            <input class="form-control col-sm-10" id="entry_price" name="entry_price" type="text" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="exit_price">Exit Price:</label>
            <input class="form-control col-sm-10" id="exit_price" name="exit_price" type="text" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="entry_sl">Entry SL:</label>
            <input class="form-control col-sm-10" id="entry_sl" name="entry_sl" type="text" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="entry_target">Entry Target:</label>
            <input class="form-control col-sm-10" id="entry_target" name="entry_target" type="text" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="quantity">Quantity:</label>
            <input class="form-control col-sm-10" id="quantity" name="quantity" type="text" value="">
        </div>
        <div class="form-group">
            <div class=" col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
        <strong>Success! </strong> { { message[1] }}
    </div>
    {% endif %}

    {% if "Error" in message[1]: %}
    <div class="alert alert-warning">
        { { message[1] }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
