{% extends "layout.html" %}

{% block content %}
<title>{{page_title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h4>{{subtitle}}</h4>
    <form class="form-horizontal" id="details-form" action="" method="post" role="form">
        <div class="form-group">
            <label class="control-label" for="name">Name:</label>
            <input class="form-control" id="name" name="name" type="text" value="{{journalentrygroup.name}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="entry_time">Entry Time:</label>
            <input class="form-control" id="entry_time" name="entry_time" required type="datetime-local" value="{{journalentrygroup.entry_time|formatdatetimeinput}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="strategy">Strategy:</label>
            <input class="form-control" id="strategy" name="strategy" type="text" value="{{journalentrygroup.strategy}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="timeframe">Timeframe:</label>
            <input class="form-control" id="timeframe" name="timeframe" type="text" value="{{journalentrygroup.timeframe}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="exit_time">Exit Time:</label>
            <input class="form-control" id="exit_time" name="exit_time" type="datetime-local" value="{{journalentrygroup.exit_time | formatdatetimeinput}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="rating">Rating:</label>
            <input class="form-control" id="rating" name="rating" type="text" value="{{journalentrygroup.rating}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="items">Items:</label>
            <input class="form-control disablepaste" id="items" name="items" type="text" value="{{journalentrygroup.items}}" onpaste="on_paste(this)">
        </div>
    </form>
    <div class="btn-group" role="group" aria-label="Second group">
        <button type="submit" form="details-form" class="btn btn-success">Save</button>
        {% if journalentrygroup.key %}
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &zwnj;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="/journalentrygroup/{{journalentrygroup.key}}/delete">
                    Delete
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
<script>
   function on_paste(elem) {
            if (elem.value == "") {
                elem.value = localStorage.getItem("groupItems");
            } else {
                elem.value = elem.value + ',' + localStorage.getItem("groupItems");
            }
            elem.focus();
            elem.selectionStart = elem.selectionEnd = elem.value.length;
        }

    $(document).ready(function () {
        $('input.disablepaste').bind('paste', function (e) {
           e.preventDefault();
        });
      });
</script>
{% endblock %}
