{% extends "layout.html" %}

{% block content %}
<title>{{page_title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <h4>{{subtitle}}</h4>
    <form class="form-horizontal" id="details-form" action="" method="post" role="form">
        <div class="form-group">
            <label class="control-label" for="name">Name:</label>
            <input class="form-control" id="name" name="name" type="text" value="{{journalentrygroup.name}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="entry_time">Entry Time:</label>
            <input class="form-control" id="entry_time" name="entry_time" required type="datetime-local" value="{{journalentrygroup.entry_time|formatdatetimeinput}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="strategy">Strategy:</label>
            <input class="form-control" id="strategy" name="strategy" type="text" value="{{journalentrygroup.strategy}}" list="strategies"/>
            <datalist id="strategies">
                {% for strategy in strategies %}
                <option value="{{strategy}}">{{strategy}}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="form-group">
            <label class="control-label" for="timeframe">Timeframe:</label>
            <select class="form-control" id="timeframe" name="timeframe">
                <option value="2h" {{"selected" if journalentrygroup.timeframe == "2h"}}>Intraday</option>
                <option value="1d" {{"selected" if journalentrygroup.timeframe == "1d"}}>Daily</option>
                <option value="1wk" {{"selected" if journalentrygroup.timeframe == "1wk"}}>Weekly</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="exit_time">Exit Time:</label>
            <input class="form-control" id="exit_time" name="exit_time" type="datetime-local" value="{{journalentrygroup.exit_time | formatdatetimeinput}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="rating">Rating:</label>
            <input class="form-control" id="rating" name="rating" type="text" value="{{journalentrygroup.rating}}">
        </div>
        <div class="form-group">
            <label class="control-label" for="items">Items:</label>
            <input class="form-control disablepaste" id="items" name="items" type="text" value="{{members if members else journalentrygroup.items}}" onpaste="on_paste(this)" onchange="syncitems()">
        </div>
    </form>
    <div class="btn-group" role="group" aria-label="Second group">
        <button type="submit" form="details-form" class="btn btn-success">Save</button>
        {% if journalentrygroup.key %}
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &zwnj;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="/journalentrygroup/{{journalentrygroup.key}}/delete">
                    Delete
                </a>
                <a class="dropdown-item" href="/journalentrygroup/{{journalentrygroup.key}}/copyattributestochildren" id="copyattributestochildren">
                    Copy Attributes
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
    <table class="mt-3 mb-3" data-toggle="table" id="membertable" data-unique-id="id">
        <thead>
        <tr>
            <th data-field="id">Id</th>
            <th data-field="instrument">Instrument</th>
            <th data-field="entry">Entry</th>
            <th data-field="exit">Exit</th>
            <th data-field="delete" data-formatter="operateFormatter" data-events="window.operateEvents">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for journalentry in journalentrygroup.deserialized_items %}
        <tr>
            {% if journalentry.is_group() %}
                <td>{{ journalentry.key}}</td>
                <td> {{journalentry.name}} </td>
                <td>{{journalentry.entry_time|formatdateonly}}</td>
                <td>{{journalentry.exit_time | formatdateonly if not zero_exit else ''}}</td>
            {% else %}
                <td>{{ journalentry.key }}</td>
                <td> 
                    {% if journalentry.key %}
                        {{journalentry.get_tradingsymbol_forview(False) | safe}}
                    {% else %}
                        {{journalentry.get_tradingsymbol_forview(False) | safe}}
                    {% endif %}
                </td>
                <td>{{journalentry.entry_time|formatdateonly}}</td>
                <td>{{journalentry.exit_time | formatdateonly if not zero_exit else ''}}</td>
            {% endif %}
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
   function on_paste(elem) {
            if (elem.value == "") {
                elem.value = localStorage.getItem("groupItems");
            } else {
                elem.value = elem.value + ',' + localStorage.getItem("groupItems");
            }
            elem.blur();
            elem.focus();
            elem.selectionStart = elem.selectionEnd = elem.value.length;
            syncitems();
        }

    $(document).ready(function () {
        $('input.disablepaste').bind('paste', function (e) {
           e.preventDefault();
        });
          $("#copyattributestochildren").on("click",function(e) {
            e.preventDefault(); // cancel the link itself
            $.post(this.href,function(data) {
            });
          });
         syncitems();
      });
      function operateFormatter(value, row, index) {
        return [
          '<a class="remove" href="javascript:void(0)" title="Remove">',
          '<i class="bi bi-trash"></i>',
          '</a>'
        ].join('')
      }
    window.operateEvents = {
            'click .remove': function (e, value, row, index) {
                    $("#membertable").bootstrapTable('remove', {
                            field: 'id',
                            values: [row.id]
                        })
                    var items = $("#items").val().split(",");
                    const idx = items.indexOf(row.id);
                    if (idx > -1) { 
                            items.splice(idx, 1); 
                    }
                    $("#items").val(items.join(","));
                }
        }

    function syncitems() {
            var items = $("#items").val().trim().split(",");
            var $table = $("#membertable");
            items.forEach((item) => {
                    if (!item) {
                            return;
                    }
                    const row = $table.bootstrapTable('getRowByUniqueId', item);
                    if (!row) {
                             $table.bootstrapTable('insertRow', {
                                index: 0,
                                row: {
                                  id: item,
                                  instrument: "",
                                  entry: "",
                                  exit: "",
                                  delete: ""
                            }});
                    }
            });
        }
</script>
{% endblock %}
