{% extends "layout.html" %}

{% block content %}

<h2>{{journalentry.symbol}}</h2>
<br />

<table class="table table-hover">
    <tr>
        <th> Symbol </th>
        <td> {{ journalentry.symbol }} </td>
    </tr>
    <tr>
        <th> Quantity </th>
        <td> {{ journalentry.quantity }} </td>
    </tr>
    <tr>
        <th> Entry time </th>
        <td> {{ journalentry.entry_time }} </td>
    </tr>
    <tr>
        <th> Entry price </th>
        <td> {{ journalentry.entry_price }} </td>
    </tr>
    <tr>
        <th> Exit time </th>
        <td> {{ journalentry.exit_time if journalentry.exit_time.year != 1970 else "" }} </td>
    </tr>
    <tr>
        <th> Exit price </th>
        <td> {{ journalentry.exit_price }} </td>
    </tr>
    <tr>
        <th> Entry SL </th>
        <td> {{ journalentry.entry_sl }} </td>
    </tr>
    <tr>
        <th> Entry Target </th>
        <td> {{ journalentry.entry_target }} </td>
    </tr>
    <tr>
        <th> Direction </th>
        <td> {{ journalentry.direction }} </td>
    </tr>
</table>

<a href="/journalentry/{{journalentry.key}}/edit">Edit</a>
<a href="/journalentry/{{journalentry.key}}/comments">Comments</a>
<a href="/journalentry/{{journalentry.key}}/charts">Charts</a>

{% if error_message %}
<p class="text-danger">{{error_message}}</p>
{% endif %}

{% endblock %}
