{% extends "layout.html" %}

{% block content %}

<h4>{{journalentry.symbol}}</h4>
<br />

<table class="table table-hover">
    <tr>
        <th> Quantity </th>
        <td> {{ journalentry.quantity }} </td>
    </tr>
    <tr>
        <th> Entry time </th>
        <td> {{ journalentry.entry_time | formatdatetimedisplay }} </td>
    </tr>
    <tr>
        <th> Entry price </th>
        <td> {{ journalentry.entry_price }} </td>
    </tr>
    <tr>
        <th> Exit time </th>
        <td> {{ journalentry.exit_time | formatdatetimedisplay if journalentry.exit_time.year != 1970 else "" }} </td>
    </tr>
    <tr>
        <th> Exit price </th>
        <td> {{ journalentry.exit_price }} </td>
    </tr>
    <tr>
        <th> Entry SL </th>
        <td> {{ journalentry.entry_sl }} </td>
    </tr>
    <tr>
        <th> Entry Target </th>
        <td> {{ journalentry.entry_target }} </td>
    </tr>
    <tr>
        <th> Direction </th>
        <td> {{ journalentry.direction }} </td>
    </tr>
    <tr>
        <th> Rating </th>
        <td> {{ journalentry.rating }} </td>
    </tr>
</table>

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <form method="GET">
            <button type="submit" class="btn btn-secondary btn-success" formaction="/journalentry/{{journalentry.key}}/edit">
                Edit
            </button>
            <button type="submit" class="btn btn-secondary btn-success" formaction="/journalentry/{{journalentry.key}}/comments">
                Comments
            </button>
            <button type="submit" class="btn btn-secondary btn-success" formaction="/journalentry/{{journalentry.key}}/charts">Charts</button>
        </form>
    </div>
</div>

{% if error_message %}
<p class="text-danger">{{error_message}}</p>
{% endif %}

{% endblock %}
