{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h5>
    <i class="bi-basket"></i>
    {{journalentrygroup.name}} 
    </h5>
    <h6>
        <span class="text-muted panel-text">
            <span>Points: {{'%0.2f' % journalentrygroup.points_gain() | float}}</span>
            <span>P&L: {{'%0.2f' % journalentrygroup.profit() | float}}</span>
            <span>Premium: {{'%0.2f' % journalentrygroup.option_premium() | float}}</span>
        </span>
    </h6>
    <div class="dropdown d-print-none">
      <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Group By
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="?groupby=none">None</a></li>
          <li><a class="dropdown-item" href="?groupby=symbol">Symbol</a></li>
          <li><a class="dropdown-item" href="?groupby=instrument">Instrument</a></li>
          <li><a class="dropdown-item" href="?groupby=strike">Strike</a></li>
          <li><a class="dropdown-item" href="?groupby=expiry">Expiry</a></li>
          <li><a class="dropdown-item" href="?groupby=status">Status</a></li>
          <li><a class="dropdown-item" href="?groupby=symbolandentry">Symbol+Entry</a></li>
          <li><a class="dropdown-item" href="?groupby=symbolandexpiry">Symbol+Expiry</a></li>
      </ul>
      <button class="btn btn-secondary btn-light" type="button" id="forceRefreshBtn" href="" aria-expanded="false" onclick="force_refresh()">Refresh</button>
      <a class="btn btn-secondary btn-light" type="button" id="analysisBtn" href="analysis" aria-expanded="false">Analysis</a>
      <a class="btn btn-secondary btn-light" href="edit">Edit</a>
    </div>
    <table
        data-toggle="table"
        data-show-footer="true"
        data-show-columns="true"
        data-show-columns-toggle-all = "true"
        >
        <thead>
        <tr>
            <th data-checkbox="true"></th>
            <th data-sortable="true" data-field="instrument">Instrument</th>
            <th data-sortable="true" data-field="entry">Entry</th>
            <th data-sortable="true" data-field="exit">Exit</th>
            {% if journalentrygroup.is_virtual %}
            <th>Entry Cost</th>
            <th>Exit Cost</th>
            {% else %}
            <th>Entry Price</th>
            <th>Exit Price</th>
            {% endif %}
            <th>Quantity</th>
            {% if journalentrygroup.is_virtual %}
            <th data-sortable="true" data-field="gain" style="text-align:right" data-falign="right">Gain %</th>
            {% else %}
            <th data-sortable="true" data-field="pips" style="text-align:right" data-falign="right">Pips</th>
            {% endif %}
            <th data-sortable="true" data-switchable="false" data-field="profit" style="text-align:right" data-falign="right">Profit</th>
        </tr>
        </thead>
        <tbody>
        {% for journalentry in journalentrygroup.deserialized_items %}
        <tr>
            {% if journalentry.is_group() %}
                <td></td>
                <td> 
                    <a href="/journalentrygroup/{{journalentry.key}}/view" style="text-decoration:none">{{journalentry.name}}</a>
                </td>
                <td>{{journalentry.entry_time|formatdateonly}}</td>
                <td>{{journalentry.exit_time | formatdateonly if not zero_exit else ''}}</td>
                <td></td>
                <td></td>
                <td></td>
                {% if journalentrygroup.is_virtual %}
                    <td style="text-align:right">{{'%0.2f' % journalentry.profit_percent() | float}}</td>
                {% else %}
                    <td style="text-align:right">{{'%0.2f' % journalentry.points_gain() | float}}</td>
                {% endif %}
                <td>{{'%0.2f' % journalentry.profit() | float}}</td>
            {% else %}
                <td></td>
                <td> 
                    {% if journalentry.key %}
                        <a href="/journalentry/{{journalentry.key}}/edit" style="text-decoration:none">{{journalentry.get_tradingsymbol_forview(False) | safe}}</a>
                    {% else %}
                        {{journalentry.get_tradingsymbol_forview(False) | safe}}
                    {% endif %}
                </td>
                <td>{{journalentry.entry_time|formatdateonly}}</td>
                <td>{{journalentry.exit_time | formatdateonly if not zero_exit else ''}}</td>
                {% if journalentrygroup.is_virtual %}
                    <td>{{journalentry.entry_cost}}</td>
                    <td>{{journalentry.exit_cost}}</td>
                {% else %}
                    <td>{{journalentry.entry_price}}</td>
                    <td>{{journalentry.exit_price}}</td>
                {% endif %}
                <td>{{journalentry.directionalqty()}}</td>
                {% if journalentrygroup.is_virtual %}
                    <td style="text-align:right">{{'%0.2f' % journalentry.profit_percent() | float}}</td>
                {% else %}
                    <td style="text-align:right">{{'%0.2f' % journalentry.points_gain() | float}}</td>
                {% endif %}
                <td style="text-align:right">{{'%0.2f' % journalentry.profit() | float}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td>Total</td>
            <td></td>
            <td></td>
            {% if journalentrygroup.is_virtual %}
            <td>{{journalentrygroup.entry_cost()}}</td>
            <td>{{journalentrygroup.exit_cost()}}</td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
            <td></td>
            {% if journalentrygroup.is_virtual %}
            <td style="text-align:right">{{'%0.2f' % journalentrygroup.profit_percent() | float}}</td>
            {% else %}
            <td style="text-align:right">{{'%0.2f' % journalentrygroup.points_gain() | float}}</td>
            {% endif %}
            <td style="text-align:right">{{'%0.2f' % journalentrygroup.profit() | float}}</td>
        </tr>
        </tfoot>
    </table>
    {% include "comments.inc" %}
</div>
<script type="text/javascript">
    function force_refresh(){
        const parser = new URL(window.location);
        parser.searchParams.set("nocache", 1);
        window.location = parser.href;
    }
</script>
{% endblock %}
