{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h5>
    <i class="bi-basket"></i>
    {{journalentrygroup.name}} 
    </h5>
    <h6>
        <span class="text-muted panel-text">
            <span>Points: {{'%0.2f' % journalentrygroup.points_gain() | float}}</span>
            <span>P&L: {{'%0.2f' % journalentrygroup.profit() | float}}</span>
            <span>Premium: {{'%0.2f' % journalentrygroup.option_premium() | float}}</span>
        </span>
    </h6>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-light" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Group By
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="?groupby=none">None</a></li>
          <li><a class="dropdown-item" href="?groupby=symbol">Symbol</a></li>
          <li><a class="dropdown-item" href="?groupby=instrument">Instrument</a></li>
          <li><a class="dropdown-item" href="?groupby=strike">Strike</a></li>
          <li><a class="dropdown-item" href="?groupby=expiry">Expiry</a></li>
      </ul>
      <button class="btn btn-secondary btn-light" type="button" id="forceRefreshBtn" href="" aria-expanded="false" onclick="force_refresh()">Refresh</button>
      <a class="btn btn-secondary btn-light" type="button" id="analysisBtn" href="{{journalentrygroup.key}}/analysis" aria-expanded="false">Analysis</a>
    </div>
    <table class="table table-sm table-responsive-sm">
        <thead>
        <tr>
            <td>Instrument</td>
            <td>Entry</td>
            <td>Exit</td>
            <td>Entry Price</td>
            <td>Exit Price</td>
            <td>Quantity</td>
            <td style="text-align:right">Gain</td>
            <td style="text-align:right">Profit</td>
        </tr>
        </thead>
        <tbody>
        {% for journalentry in journalentrygroup.deserialized_items %}
        <tr>
            {% if journalentry.is_group() %}
                <td> <a href="/journalentrygroup/{{journalentry.key}}" style="text-decoration:none">{{journalentry.name}}</a></td>
                <td>{{journalentry.entry_time|formatdateonly}}</td>
                <td>{{journalentry.exit_time | formatdateonly if not zero_exit else ''}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{'%0.2f' % journalentry.points_gain() | float}}</td>
                <td>{{'%0.2f' % journalentry.profit() | float}}</td>
            {% else %}
                <td> <a href="/journalentry/{{journalentry.key}}/edit" style="text-decoration:none">{{journalentry.get_tradingsymbol_forview() | safe}}</a></td>
                <td>{{journalentry.entry_time|formatdateonly}}</td>
                <td>{{journalentry.exit_time | formatdateonly if not zero_exit else ''}}</td>
                <td>{{journalentry.entry_price}}</td>
                <td>{{journalentry.exit_price}}</td>
                <td>{{journalentry.directionalqty()}}</td>
                <td style="text-align:right">{{'%0.2f' % journalentry.points_gain() | float}}</td>
                <td style="text-align:right">{{'%0.2f' % journalentry.profit() | float}}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align:right">{{'%0.2f' % journalentrygroup.points_gain() | float}}</td>
            <td style="text-align:right">{{'%0.2f' % journalentrygroup.profit() | float}}</td>
        </tr>
        </tfoot>
    </table>
    <h4> Comments </h4>
    <br />
    {% if comments %}
    <table class="table table-hover">
        {% for comment in comments %}
        <tr>
            <th>
                {{ comment.add_time | formatdatetimedisplay }}
            </th>
            <td>
                {%if comment.title %}
                <b>
                    {{ comment.title }}
                </b><br />
                {% endif %}
                {{ comment.text }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {{ pagination.links }}
    {% else %}
    <p>No comments available.</p>
    <br />
    {% endif %}
    <form action="" method="post" role="form" id="commentform">
        <div class="form-group">
            <div class="input text">
                <label for="title">Title:</label>
                <input id="commenttitlebox" class="form-control" name="title" type="text" value="">
            </div>
            <div class="input text">
                <label for="text">Text:</label>
                <textarea id="commentbox" class="form-control" name="text" required></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-success" id="postcommentbutton">Post Comment</button>
        <a class="btn btn-secondary btn-success" href="/journalentrygroup/{{journalentrygroup.key}}/edit">Edit</a>
    </form>
</div>
<script type="text/javascript">
    $("#postcommentbutton").click(function(event){        
        event.preventDefault();
        $.post("/journalentrygroup/{{journalentrygroup.key}}/comments", $("#commentform").serialize(), function(data) {
            $("#commentform")[0].reset();
            window.location.reload();
        });
        });

    function force_refresh(){
        const parser = new URL(window.location);
        parser.searchParams.set("nocache", 1);
        window.location = parser.href;
    }
</script>
{% endblock %}
