{% extends "layout.html" %}

{% block content %}
<ul class="nav nav-tabs">
    <li id="open" class="{{"active" if subpage=="open" else ""}}"><a href="home?subpage=open">Open</a></li>
    <li id="close" class="{{"active" if subpage=="closed" else ""}}"><a href="home?subpage=closed">Closed</a></li>
    <li id="idea" class="{{"active" if subpage=="idea" else ""}}"><a href="home?subpage=idea">Ideas</a></li>
</ul>
{% if journalentries %}
        {% for journalentry in journalentries %}
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h5>
                            {%if not not journalentry.is_idea%}
                                <span class="glyphicon glyphicon-fire text-warning"></span>
                            {%else%}
                                {%if journalentry.is_open()%}
                                    <span class="glyphicon glyphicon-play-circle text-primary"></span>
                                {%else%}
                                    {%if journalentry.is_profitable()%}
                                        <span class="glyphicon glyphicon-circle-arrow-up text-success"></span>
                                    {%else%}
                                        <span class="glyphicon glyphicon-circle-arrow-down text-danger"></span>
                                    {%endif%}
                                {%endif%}
                            {%endif%}
                            <a href="/journalentry/{{journalentry.key}}/charts">{{journalentry.symbol}}</a>
                        </h5>
                        <span class="text-muted panel-text">
                            <i>entered {{journalentry.get_entry_time()}}</i><br />
                            <i>{{ journalentry.direction.lower()}},&nbsp;{{ journalentry.strategy.lower()}},&nbsp;{{ journalentry.timeframe.lower()}}</i><br/>
                            <small> <i>{{ journalentry.tradingsymbol}}</i><br/> </small>
                        </span>
                    </div>
                    <div class="panel-footer">
                        <a href="/journalentry/{{journalentry.key}}/comments"><i>{{ journalentry.get_comment_count()}} comments,</i></a>
                        <a href="/journalentry/{{journalentry.key}}/charts"><i>{{ journalentry.get_chart_count()}} charts</i></a> <br/>
                    </div>
                </div>
        {% endfor %}
{{ pagination.links }}
{% else %}
<p>No journalentries available.</p>
<br />
{% endif %}

{% endblock %}
