{% extends "layout.html" %}

{% block content %}

<h4>{{title}}.</h4>

{% if journalentries %}
<table class="table table-hover">
    <tbody>
        {% for journalentry in journalentries %}
        <tr>
            <td>
                {%if journalentry.direction == "LONG"%}
                <span class="glyphicon glyphicon-chevron-up"></span>
                {%else%}
                <span class="glyphicon glyphicon-chevron-down"></span>
                {%endif%}
                <a href="/journalentry/{{journalentry.key}}">{{journalentry.symbol}}</a><br />
                Entry: {{journalentry.entry_time}}<br />
                Quantity: {{journalentry.quantity}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No journalentries available.</p>
<br />
{% endif %}

{% endblock %}
