{% extends "layout.html" %}

{% block content %}
<div class="container">
<ul class="nav nav-tabs justify-content-center">
    <li id="open" class="nav-item">
        <a class="nav-link {{"active" if subpage=="open" else ""}}" href="home?subpage=open">Open</a>
    </li>
    <li id="close" class="nav-item">
        <a class="nav-link {{"active" if subpage=="closed" else ""}}" href="home?subpage=closed">Closed</a>
    </li>
    <li id="idea" class="nav-item">
        <a class="nav-link {{"active" if subpage=="idea" else ""}}" href="home?subpage=idea">Ideas</a>
    </li>
</ul>
{% if journalentries %}
        {% for journalentry in journalentries %}
                <div class="card">
                    <div class="card-body">
                        <h5>
                            {%if not not journalentry.is_idea%}
                                <i class="bi-lightbulb text-warning" style="font-size: 1rem;"></i>
                            {%else%}
                                {%if journalentry.is_open()%}
                                    <i class="bi-play-circle" style="font-size: 1rem;"></i>
                                {%else%}
                                    {%if journalentry.is_profitable()%}
                                        <i class="bi-arrow-up-circle text-success" style="font-size: 1rem;"></i>
                                    {%else%}
                                        <i class="bi-arrow-down-circle text-danger" style="font-size: 1rem;"></i>
                                    {%endif%}
                                {%endif%}
                            {%endif%}
                            <a href="/journalentry/{{journalentry.key}}/charts">{{journalentry.symbol}}</a>
                        </h5>
                        <span class="text-muted panel-text">
                            <i>entered {{journalentry.get_entry_time()}}</i><br />
                            <i>{{ journalentry.direction.lower()}},&nbsp;{{ journalentry.strategy.lower()}},&nbsp;{{ journalentry.timeframe.lower()}}</i><br/>
                            <small> <i>{{ journalentry.tradingsymbol}}</i><br/> </small>
                        </span>
                    </div>
                    <div class="card-footer">
                        <a href="/journalentry/{{journalentry.key}}/comments"><i>{{ journalentry.get_comment_count()}} comments,</i></a>
                        <a href="/journalentry/{{journalentry.key}}/charts"><i>{{ journalentry.get_chart_count()}} charts</i></a> <br/>
                    </div>
                </div>
        {% endfor %}
{{ pagination.links }}
{% else %}
<p>No journalentries available.</p>
<br />
{% endif %}
</div>
{% endblock %}
