{% extends "layout.html" %}

{% block content %}
{% if not error %}
    <div class="panel-group" style="margin-top:20px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#collapse_summary">summary</a>
                </h3>
            </div>
            <div id="collapse_summary" class="panel-collapse collapse">
                <div>
                    <table class="table table-hover remove-bottom-margin">
                        <tbody>
                            {% for meta, table in data %}
                            <tr>
                                <td>
                                    <h5>{{meta['name']}}</h5>
                                    <span class="text-muted">
                                        <i>{{meta['count']}} trades</i>
                                    </span>
                                </td>
                                <td style="text-align:right">
                                    <h5>{{meta['unrealised_tot']}}</h5>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer" style="text-align:right">Total: {{grand_total}}</div>
            </div>
        </div>
        {% for meta, table in data %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#collapse_{{ meta['name'] }}">{{ meta['name'] }}</a>
                </h3>
            </div>
            <div id="collapse_{{ meta['name'] }}" class="panel-collapse collapse">
                <div>
                    <table class="table table-hover remove-bottom-margin">
                        <tbody>
                            {% for row in table %}
                            <tr>
                                <td>
                                    <h5>{{row['tradingsymbol']}}</h5>
                                    <span class="text-muted">
                                        <i>Avg: {{ row['average_price']}}</i><br/>
                                        <i>Qty: {{row['quantity']}}</i>
                                    </span>
                                </td>
                                <td style="text-align:right">
                                    <h5>{{row['unrealised']}}</h5>
                                    <span class="text-muted">
                                        <i>LTP: {{row['last_price']}}</i>
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer" style="text-align:right">Total: {{meta['unrealised_tot']}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
<p>{{error}}</p>
{% endif %}
{% endblock %}
