            <div class="container">
                <h1 class="mb-4">Stock Risk and Quantity Calculator</h1>
                <form id="stock-calculator-form">
                <div class="form-group row mb-3">
                    <label for="ltp" class="col-4 col-form-label">LTP:</label>
                    <div class="col-8">
                        <input type="number" class="form-control" id="ltp" min="0" step="0.01" value="{{ spot_ltp }}" required ></input>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="sl" class="col-4 col-form-label">Stoploss:</label>
                    <div class="col-8">
                        <input type="number" class="form-control" id="sl" min="0" step="0.01" value={{stoploss}}>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="lot_size" class="col-4 col-form-label">Lot Size:</label>
                    <div class="col-8">
                        <input type="number" class="form-control" id="lot_size" min="1" step="1" value="{{ lot_size }}" required ></input>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="option_strike" class="col-4 col-form-label">Option Strike:</label>
                    <div class="col-8">
                        <input type="number" class="form-control" id="option_strike" min="0" step="0.01" required>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="option_price" class="col-4 col-form-label">Option Price:</label>
                    <div class="col-8">
                        <input type="number" class="form-control" id="option_price" min="0" step="0.01" required>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="capital" class="col-4 col-form-label">Capital:</label>
                    <div class="col-8">
                        <input type="number" class="form-control" id="capital" min="0" step="0.01" value="150000" required>
                    </div>
                </div>
               
                </form>
                
                <div class="dropdown">
                    <button class="btn btn-primary btn-block" id="calculatebtn" onclick="calculate()">Calculate</button>
                    <button class="btn btn-primary btn-block" id="resetbtn" onclick="reset_stock_calc()" >Reset</button>
                </div>
                
                <h3 class="mt-4" >Results</h3>
                <table class="table text-end" id="stock_results">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Stoploss</th>
                            <th>Fut+Option Hedge</th>
                            <th>Itm Option</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>Lots:</td>
                            <td id="lots">0</td>
                            <td id="lotso">0</td>
                            <td id="lotsitm">0</td>
                        </tr>
                        
                        <tr>
                            <td>Quantity:</td>
                            <td id="quantity">0</td>
                            <td id="quantityo">0</td>
                            <td id="quantityitm">0</td>
                        </tr>
                
                        <tr>
                            <td>Risk Pips:</td>
                            <td id="risk_pips">0.00</td>
                            <td id="risko_pips">0.00</td>
                            <td id="riskitm_pips">0.00</td>
                        </tr>
                        <tr>
                            <td>Risk:</td>
                            <td id="risk">0.00</td>
                            <td id="risko">0.00</td>
                            <td id="riskitm">0.00</td>
                        </tr>
                        <tr>
                            <td>Hedging cost:</td>
                            <td>-</td>
                            <td id="hedge_cost">0.00</td>
                            <td id="hedgeitm_cost">0.00</td>
                        </tr>
                        <tr>
                            <td>Risk (per lot):</td>
                            <td id="risk_perlot">0.00</td>
                            <td id="risko_perlot">0.00</td>
                            <td id="riskitm_perlot">0.00</td>
                        </tr>
                        <tr>
                            <td>Hedging cost (per lot):</td>
                            <td>-</td>
                            <td id="hedgeo_perlot">0.00</td>
                            <td id="hedgeitm_perlot">0.00</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Option chain</h3>
                <div class="form-group row mb-3">
                    <label for="ltp" class="col-4 col-form-label">Symbol:</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="symbol" value="{{symbol if symbol else ''}}"></input>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="sl" class="col-4 col-form-label">Expiry</label>
                    <div class="col-8">
                        <input type="text" class="form-control" id="expiry" list="expiries" value="{{expiry}}"></input>
                        <datalist id="expiries">
                            {% for exp in expiry_dates %}
                            <option value="{{exp}}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-primary btn-block" id="fetchbtn" onclick="fetchurl()">Fetch</button>
                </div>
                {% if option_chain %}
                <table class="table text-end" id="option_chain">
                    <thead>
                        <tr>
                            <th>CE Ltp</th>
                            <th>Strike</th>
                            <th>PE Ltp</th>
                            <th>Spot %</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for row in option_chain %}
                        <tr {{('class="table-warning"' if row["strike"] == atm_strike) | safe}}>
                            <td><a class="ce" href="#stock_results">{{ row["ce_ltp"] | formatfloat }}</a></td>
                            <td class="strike">{{ row["strike"] }}</td>
                            <td><a class="pe" href="#stock_results">{{ row["pe_ltp"] | formatfloat }}</a></td>
                            <td>{{ (-(spot_ltp - row["strike"])/spot_ltp*100) | formatfloat }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
    <script>
        function fetchurl(){
            var searchParams = new URLSearchParams(window.location.search);
            searchParams.set("symbol", $("#symbol").val());
            searchParams.set("expiry", $("#expiry").val());
            searchParams.set("tab", "stock");
            window.location.search = searchParams;
        }

        // Stock Calculator
        var flip_option_price = 0;
        function calculate() {
            const ltp = parseFloat(document.getElementById("ltp").value);
            const sl = parseFloat(document.getElementById("sl").value);
            const capital = parseFloat(document.getElementById("capital").value);
            const lot_size = parseInt(document.getElementById("lot_size").value);
            const option_strike = parseFloat(document.getElementById("option_strike").value);
            const option_price = parseFloat(document.getElementById("option_price").value);

            localStorage.setItem("ltp",  ltp);
            localStorage.setItem("sl", sl);  
            localStorage.setItem("capital", capital);  
            localStorage.setItem("lot_size", lot_size);  
            localStorage.setItem("option_strike", option_strike);  
            localStorage.setItem("option_price", option_price);  

            var risk = 0;
            var quantity = 0;

            risk = Math.abs(ltp - sl);
            lots = Math.floor(capital / (risk * lot_size));
            quantity = lots * lot_size;
            document.getElementById("quantity").textContent = quantity.toString();
            document.getElementById("lots").textContent = lots.toString();
            document.getElementById("risk_pips").textContent = risk.toFixed(2);
            document.getElementById("risk").textContent = (risk*quantity).toFixed(2);
            document.getElementById("risk_perlot").textContent = (risk*lot_size).toFixed(2);

            if (!isNaN(option_strike) && !isNaN(option_price))
            {
                risk = (Math.abs(ltp - option_strike) + option_price);
                lots = Math.floor(capital / (risk * lot_size));
                quantity = lots * lot_size;
                hedge_cost = option_price*quantity;
                document.getElementById("quantityo").textContent = quantity.toString();
                document.getElementById("lotso").textContent = lots.toString();
                document.getElementById("risko_pips").textContent = risk.toFixed(2);
                document.getElementById("risko").textContent = (risk*quantity).toFixed(2);
                document.getElementById("risko_perlot").textContent = (risk*lot_size).toFixed(2);
                document.getElementById("hedge_cost").textContent = hedge_cost.toFixed(2);
                document.getElementById("hedgeo_perlot").textContent = (option_price*lot_size).toFixed(2);
            }

            if(!isNaN(option_strike))
            {
                risk = parseFloat(flip_option_price);
                lots = Math.floor(capital / (risk * lot_size));
                quantity = lots * lot_size;
                hedge_cost_pips = risk - Math.abs(option_strike-ltp);
                document.getElementById("quantityitm").textContent = quantity.toString();
                document.getElementById("lotsitm").textContent = lots.toString();
                document.getElementById("riskitm_pips").textContent = risk.toFixed(2);
                document.getElementById("riskitm").textContent = (risk*quantity).toFixed(2);
                document.getElementById("riskitm_perlot").textContent = (risk*lot_size).toFixed(2);
                document.getElementById("hedgeitm_cost").textContent = (hedge_cost_pips*quantity).toFixed(2);
                document.getElementById("hedgeitm_perlot").textContent = (hedge_cost_pips*lot_size).toFixed(2);
            }
        }
        document.getElementById("stock-calculator-form").addEventListener("input", calculate);
    </script>
    
    {% if option_chain %}
    <script>
    $(document).ready(function(){
            $('#option_chain a').click(function() {
                var value = $(this).html();
                var input = $('#option_price');
                input.val(value);
                
                var value = $(this).parent().parent().children(".strike").html();
                var input = $('#option_strike');
                input.val(value);

                var targetClass = ".pe";
                if ($(this).hasClass("pe")){
                            targetClass=".ce";
                        }
                flip_option_price = $(this).closest("tr").find(targetClass).html();
                console.log(flip_option_price);
                calculate();
            });
        });

    </script>
    {% endif %}
