<div class="container">
    <h3>Mib</h3>
    <div id="mib_table"></div>
    <h3>Cc</h3>
    <div id="cc_table"></div>
    <button class="btn btn-primary btn-block" id="calculatebtn" onclick="fetch_ltp_table()">Fetch</button>
    <script>
        function fetch_ltp_table(){
            fetch('/tradecalc/strategies')
            .then(function(response) {
                // When the page is loaded convert it to text
                return response.text()
            })
            .then(function(html) {
                    var doc = new DOMParser().parseFromString(html, 'text/html');
                    var tables = doc.getElementsByTagName('table');
                    document.getElementById("mib_table").append(tables[0]);
                    document.getElementById("cc_table").append(tables[0]);
            })
            .catch(function(err) {  
                console.log('Failed to fetch page: ', err);  
            });    
        }
    </script>
</div>
