{% extends "layout.html" %}

{% block content %}
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#stock">Stock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#options">Options</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#strategies">Strategies</a>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content mt-3">
        <!-- Stock tab -->
        <div id="stock" class="tab-pane fade show active">
            {% include "stockcalculator.inc.html" %}
        </div>

        <!-- Options tab -->
        <div id="options" class="tab-pane fade">
            {% include "optioncalculator.inc.html" %}
        </div>
        
        <!-- Strategy tab -->
        <div id="strategies" class="tab-pane fade">
            {% include "strategycalculator.inc.html" %}
        </div>
    </div>
</div>

    <!-- Add Bootstrap JS and jQuery (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{% endblock %}
