<!DOCTYPE html>
<html>  
<head>  
    <title>Zerodha login step 1</title>  
</head>  
<body>  
    <div class="form">
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error">Error: {{ error }}
      {% endif %}
    </div>
</body>  
</html>

